<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gop.mapper.FinanceStatsMapper" >
  <resultMap id="BaseResultMap" type="com.gop.domain.FinanceStats" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="asset_code" property="assetCode" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="CHAR" />
    <result column="business_key" property="businessKey" jdbcType="VARCHAR" />
    <result column="finance_date" property="financeDate" jdbcType="INTEGER" />
    <result column="date_unit" property="dateUnit" jdbcType="CHAR" />
    <result column="opening_balance" property="openingBalance" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="closing_balance" property="closingBalance" jdbcType="DECIMAL" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, asset_code, user_type, business_key, finance_date, date_unit, opening_balance, 
    amount, closing_balance, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from finance_stats
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from finance_stats
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gop.domain.FinanceStats" >
    insert into finance_stats (id, asset_code, user_type, 
      business_key, finance_date, date_unit, 
      opening_balance, amount, closing_balance, 
      update_date)
    values (#{id,jdbcType=INTEGER}, #{assetCode,jdbcType=VARCHAR}, #{userType,jdbcType=CHAR}, 
      #{businessKey,jdbcType=VARCHAR}, #{financeDate,jdbcType=INTEGER}, #{dateUnit,jdbcType=CHAR}, 
      #{openingBalance,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, #{closingBalance,jdbcType=DECIMAL}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gop.domain.FinanceStats" >
    insert into finance_stats
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="assetCode != null" >
        asset_code,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="businessKey != null" >
        business_key,
      </if>
      <if test="financeDate != null" >
        finance_date,
      </if>
      <if test="dateUnit != null" >
        date_unit,
      </if>
      <if test="openingBalance != null" >
        opening_balance,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="closingBalance != null" >
        closing_balance,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="assetCode != null" >
        #{assetCode,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=CHAR},
      </if>
      <if test="businessKey != null" >
        #{businessKey,jdbcType=VARCHAR},
      </if>
      <if test="financeDate != null" >
        #{financeDate,jdbcType=INTEGER},
      </if>
      <if test="dateUnit != null" >
        #{dateUnit,jdbcType=CHAR},
      </if>
      <if test="openingBalance != null" >
        #{openingBalance,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="closingBalance != null" >
        #{closingBalance,jdbcType=DECIMAL},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gop.domain.FinanceStats" >
    update finance_stats
    <set >
      <if test="assetCode != null" >
        asset_code = #{assetCode,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=CHAR},
      </if>
      <if test="businessKey != null" >
        business_key = #{businessKey,jdbcType=VARCHAR},
      </if>
      <if test="financeDate != null" >
        finance_date = #{financeDate,jdbcType=INTEGER},
      </if>
      <if test="dateUnit != null" >
        date_unit = #{dateUnit,jdbcType=CHAR},
      </if>
      <if test="openingBalance != null" >
        opening_balance = #{openingBalance,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="closingBalance != null" >
        closing_balance = #{closingBalance,jdbcType=DECIMAL},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gop.domain.FinanceStats" >
    update finance_stats
    set asset_code = #{assetCode,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=CHAR},
      business_key = #{businessKey,jdbcType=VARCHAR},
      finance_date = #{financeDate,jdbcType=INTEGER},
      date_unit = #{dateUnit,jdbcType=CHAR},
      opening_balance = #{openingBalance,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      closing_balance = #{closingBalance,jdbcType=DECIMAL},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>