<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gop.mapper.UserPaypasswordRelationshipMapper">
	<resultMap id="BaseResultMap" type="com.gop.domain.UserPaypasswordRelationship">
		<id column="uid" property="uid" jdbcType="INTEGER" />
		<result column="input_type" property="inputType" jdbcType="INTEGER" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
	uid,input_type,update_date
	</sql>
	<select id="selectByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user_paypassword_relationship
		where uid = #{uid,jdbcType=INTEGER}
	</select>

	
	<update id="updateByUid" parameterType="com.gop.domain.UserPaypasswordRelationship">
		update user_paypassword_relationship
		<set>
			<if test="inputType != null">
				input_type = #{inputType,jdbcType=INTEGER},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where uid = #{uid,jdbcType=INTEGER}
	</update>
	
	  <insert id="insertInfo" parameterType="com.gop.domain.UserPaypasswordRelationship" >
	    insert into user_paypassword_relationship (uid, input_type, update_date)
	    values (#{uid,jdbcType=INTEGER}, #{inputType,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}) 
	  </insert>
</mapper>