<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gte.mapper.cash.CashOrderWithdrawAuditMapper" >
  <resultMap id="BaseResultMap" type="com.gte.domain.cash.dto.CashOrderWithdrawAudit" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="before_status" property="beforeStatus" jdbcType="CHAR" />
    <result column="after_status" property="afterStatus" jdbcType="CHAR" />
    <result column="result" property="result" jdbcType="CHAR" />
    <result column="explain" property="explain" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="CHAR" />
    <result column="op_name" property="opName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, before_status, after_status, result, `explain`, create_date, update_date,
    admin_id
  </sql>
  <sql id="user_Column_List" >
    t.id, t.order_no, t.before_status, t.after_status, t.result, t.`explain`, t.create_date, t.update_date,
    t.admin_id,a.mobile,a.op_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cash_order_withdraw_audit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="user_Column_List" />
    from cash_order_withdraw_audit t left join administrators a on t.admin_id = a.admin_id
    where t.order_no = #{orderNo,jdbcType=VARCHAR}
    order by t.id desc;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cash_order_withdraw_audit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gte.domain.cash.dto.CashOrderWithdrawAudit" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cash_order_withdraw_audit (order_no, before_status, after_status, 
      result, `explain`, create_date,
      update_date, admin_id)
    values (#{orderNo,jdbcType=VARCHAR}, #{beforeStatus,jdbcType=CHAR}, #{afterStatus,jdbcType=CHAR}, 
      #{result,jdbcType=CHAR}, #{explain,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{adminId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gte.domain.cash.dto.CashOrderWithdrawAudit" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cash_order_withdraw_audit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="beforeStatus != null" >
        before_status,
      </if>
      <if test="afterStatus != null" >
        after_status,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="explain != null" >
        `explain`,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="beforeStatus != null" >
        #{beforeStatus,jdbcType=CHAR},
      </if>
      <if test="afterStatus != null" >
        #{afterStatus,jdbcType=CHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=CHAR},
      </if>
      <if test="explain != null" >
        #{explain,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gte.domain.cash.dto.CashOrderWithdrawAudit" >
    update cash_order_withdraw_audit
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="beforeStatus != null" >
        before_status = #{beforeStatus,jdbcType=CHAR},
      </if>
      <if test="afterStatus != null" >
        after_status = #{afterStatus,jdbcType=CHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=CHAR},
      </if>
      <if test="explain != null" >
        `explain` = #{explain,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gte.domain.cash.dto.CashOrderWithdrawAudit" >
    update cash_order_withdraw_audit
    set order_no = #{orderNo,jdbcType=VARCHAR},
      before_status = #{beforeStatus,jdbcType=CHAR},
      after_status = #{afterStatus,jdbcType=CHAR},
      result = #{result,jdbcType=CHAR},
      `explain` = #{explain,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      admin_id = #{adminId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>